.ipynb_checkpoints

nvidia_smi_check.sh
SBATCH_and_train_options_as_comments.txt

yolov4_scaled_train_p6_1280_rtx.sh
yolov4_scaled_train_p6_1280_v100.sh
yolov4_scaled_train_tiny_1280_rtx.sh

yolov4_train_pacsp_s_640_rtx_debug.sh

yolov4_train_640_rtx.sh
yolov4_train_640_v100.sh

yolov5_check_node.sh

yolov7_train_w6_1280_gpu_1_rtx.sh
yolov7_train_w6_1280_rtx.sh
yolov7_train_w6_1280_v100.sh
